* {
	box-sizing: border-box;
}

body {
	background-image: url('wallpaper.jpg');
	background-size: cover;
}

#title {
	background-color: black;
	color: white;
	text-align: center;
}

table, th, td {
  border:1px solid black;
}

#instructions {
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  background-color: orange;
}

.information {
	padding: 10px;
}

.h3-style {
  font-size: 20px;
  font-weight: bold;
}

h2 {
	border:1px solid yellow;
}

#location {
	text-decoration: underline;
}


